# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# OS generated
.DS_Store
Thumbs.db

# Excel temporary files
~$*
